# do not track logfile
*.log
# do not track temporary files
*~
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
reference/jkbms.py
reference/mpp-solar-master/.coveragerc
reference/mpp-solar-master/.gitignore
reference/mpp-solar-master/.travis.yml
reference/mpp-solar-master/LICENSE
reference/mpp-solar-master/makefile
reference/mpp-solar-master/pyproject.toml
reference/mpp-solar-master/README.md
reference/mpp-solar-master/requirements-full.txt
reference/mpp-solar-master/requirements.txt
reference/mpp-solar-master/setup.py
reference/mpp-solar-master/tox.ini
reference/mpp-solar-master/docs/bleak.md
reference/mpp-solar-master/docs/configfile.md
reference/mpp-solar-master/docs/hardware.md
reference/mpp-solar-master/docs/installation.md
reference/mpp-solar-master/docs/interface.md
reference/mpp-solar-master/docs/MQTT_Influx_Grafana.md
reference/mpp-solar-master/docs/postgres.md
reference/mpp-solar-master/docs/README.md
reference/mpp-solar-master/docs/service-README.md
reference/mpp-solar-master/docs/troubleshooting.md
reference/mpp-solar-master/docs/ubuntu_install.md
reference/mpp-solar-master/docs/usage.md
reference/mpp-solar-master/docs/venv.md
reference/mpp-solar-master/docs/images/mpp-solar.png
reference/mpp-solar-master/docs/images/usb-powersave.jpg
reference/mpp-solar-master/docs/protocols/DALY-Daly_RS485_UART_Protocol.pdf
reference/mpp-solar-master/docs/protocols/DALY-UART_485_Communications_Protocol_V1.2.pdf
reference/mpp-solar-master/docs/protocols/JK-B1A24S-RS485-protocol-english.pdf
reference/mpp-solar-master/docs/protocols/JK-Jiabaida_communication_protocol_v4.0.pdf
reference/mpp-solar-master/docs/protocols/JK-RS232-RS485-UART-comms.pdf
reference/mpp-solar-master/docs/protocols/PI00_RS232_Protocol.pdf
reference/mpp-solar-master/docs/protocols/PI16_VoltronicPowerSUNNYProtocol.md
reference/mpp-solar-master/docs/protocols/PI17_InfiniSolar-5KW-protocol-20160309.pdf
reference/mpp-solar-master/docs/protocols/PI18_InfiniSolar-V-protocol-20170926.pdf
reference/mpp-solar-master/docs/protocols/PI30_Communication-Protocol-20150924-Customer.pdf
reference/mpp-solar-master/docs/protocols/PI30_HS_MS_MSX_RS232_Protocol_20140822_after_current_upgrade.pdf
reference/mpp-solar-master/docs/protocols/PI30_PIP-GK_MK-Protocol.pdf
reference/mpp-solar-master/docs/protocols/PI30MAX.Communication.Protocol20210217.pdf
reference/mpp-solar-master/docs/protocols/PI30REVO.20Protocol.20V03--20201112.pdf
reference/mpp-solar-master/docs/protocols/PI34_ForumEA_B_mppt-1.pdf
reference/mpp-solar-master/docs/protocols/PI41_LV5048.5KW.protocol-20190222.for.customer.pdf
reference/mpp-solar-master/docs/protocols/VED-BMV-7xx-HEX-Protocol-public.pdf
reference/mpp-solar-master/docs/protocols/VED-VE.Direct-Protocol-3.29.pdf
reference/mpp-solar-master/docs/service/jkbms.conf.example
reference/mpp-solar-master/docs/service/jkbms.service
reference/mpp-solar-master/docs/service/mpp-solar.conf.example
reference/mpp-solar-master/docs/service/mpp-solar.service
reference/mpp-solar-master/mppsolar/__init__.py
reference/mpp-solar-master/mppsolar/helpers.py
reference/mpp-solar-master/mppsolar/main.py
reference/mpp-solar-master/mppsolar/powermon.py
reference/mpp-solar-master/mppsolar/version.py
reference/mpp-solar-master/mppsolar/devices/__init__.py
reference/mpp-solar-master/mppsolar/devices/device.py
reference/mpp-solar-master/mppsolar/devices/jkbms.py
reference/mpp-solar-master/mppsolar/devices/mppsolar.py
reference/mpp-solar-master/mppsolar/inout/__init__.py
reference/mpp-solar-master/mppsolar/inout/baseio.py
reference/mpp-solar-master/mppsolar/inout/dalyserialio.py
reference/mpp-solar-master/mppsolar/inout/esp32io.py
reference/mpp-solar-master/mppsolar/inout/hidrawio.py
reference/mpp-solar-master/mppsolar/inout/jkbledelegate.py
reference/mpp-solar-master/mppsolar/inout/jkbleio.py
reference/mpp-solar-master/mppsolar/inout/mqttio.py
reference/mpp-solar-master/mppsolar/inout/serialio.py
reference/mpp-solar-master/mppsolar/inout/testio.py
reference/mpp-solar-master/mppsolar/inout/vserialio.py
reference/mpp-solar-master/mppsolar/libs/__init__.py
reference/mpp-solar-master/mppsolar/libs/mqttbroker.py
reference/mpp-solar-master/mppsolar/outputs/__init__.py
reference/mpp-solar-master/mppsolar/outputs/baseoutput.py
reference/mpp-solar-master/mppsolar/outputs/domoticz_autodiscover.py
reference/mpp-solar-master/mppsolar/outputs/domoticz_mqtt.py
reference/mpp-solar-master/mppsolar/outputs/hass_mqtt.py
reference/mpp-solar-master/mppsolar/outputs/influx_mqtt.py
reference/mpp-solar-master/mppsolar/outputs/influx2_mqtt.py
reference/mpp-solar-master/mppsolar/outputs/json_mqtt.py
reference/mpp-solar-master/mppsolar/outputs/json_udp.py
reference/mpp-solar-master/mppsolar/outputs/json.py
reference/mpp-solar-master/mppsolar/outputs/mongo.py
reference/mpp-solar-master/mppsolar/outputs/mqtt.py
reference/mpp-solar-master/mppsolar/outputs/postgres.py
reference/mpp-solar-master/mppsolar/outputs/raw.py
reference/mpp-solar-master/mppsolar/outputs/screen.py
reference/mpp-solar-master/mppsolar/outputs/tag_mqtt.py
reference/mpp-solar-master/mppsolar/ports/__init__.py
reference/mpp-solar-master/mppsolar/ports/port.py
reference/mpp-solar-master/mppsolar/ports/test.py
reference/mpp-solar-master/mppsolar/protocols/__init__.py
reference/mpp-solar-master/mppsolar/protocols/abstractprotocol.py
reference/mpp-solar-master/mppsolar/protocols/daly.py
reference/mpp-solar-master/mppsolar/protocols/daly40.py
reference/mpp-solar-master/mppsolar/protocols/jk02.py
reference/mpp-solar-master/mppsolar/protocols/jk04.py
reference/mpp-solar-master/mppsolar/protocols/jk232.py
reference/mpp-solar-master/mppsolar/protocols/jk485.py
reference/mpp-solar-master/mppsolar/protocols/jkabstractprotocol.py
reference/mpp-solar-master/mppsolar/protocols/pi16.py
reference/mpp-solar-master/mppsolar/protocols/pi17.py
reference/mpp-solar-master/mppsolar/protocols/pi17infini.py
reference/mpp-solar-master/mppsolar/protocols/pi18.py
reference/mpp-solar-master/mppsolar/protocols/pi30.py
reference/mpp-solar-master/mppsolar/protocols/pi30max.py
reference/mpp-solar-master/mppsolar/protocols/pi30revo.py
reference/mpp-solar-master/mppsolar/protocols/pi41.py
reference/mpp-solar-master/mppsolar/protocols/protocol_helpers.py
reference/mpp-solar-master/mppsolar/protocols/ved.py
reference/mpp-solar-master/tests/__init__.py
reference/mpp-solar-master/tests/test_init.py
reference/mpp-solar-master/tests/test_output_mqtt.py
reference/mpp-solar-master/tests/test_protocol_daly.py
reference/mpp-solar-master/tests/test_protocol_daly40.py
reference/mpp-solar-master/tests/test_protocol_helpers.py
reference/mpp-solar-master/tests/test_protocol_jk02.py
reference/mpp-solar-master/tests/test_protocol_jk04.py
reference/mpp-solar-master/tests/test_protocol_jk232.py
reference/mpp-solar-master/tests/test_protocol_jk485.py
reference/mpp-solar-master/tests/test_protocol_pi16.py
reference/mpp-solar-master/tests/test_protocol_pi17.py
reference/mpp-solar-master/tests/test_protocol_pi18.py
reference/mpp-solar-master/tests/test_protocol_pi30.py
reference/mpp-solar-master/tests/test_protocol_ved.py
